transformers==4.32.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
torchvision
pillow
tensorboard
matplotlib
opencv-python-headless
graphviz
pydot
mermaid-py
rich
tqdm
openai
oss2
pillow
opencv-python-headless
graphviz
pydot
networkx